.conteudo {
  /*display: grid;
  grid-template-rows: 1fr 8fr 1fr;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  padding: 1rem;
  font-size: 2rem;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90rem;
  height: 50rem;
  overflow: auto;
  overflow-x: hidden;
  padding: 1rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /*max-width: 45rem;*/
}

.rodape {
  display: flex;
  width: 90rem;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  justify-content: center;
  border-top: 1px solid black;

  position: absolute;
  bottom: 0;
}

@media (max-height: 40rem) {
  .main {
    background: black;
  }
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}

body::-webkit-scrollbar {
  width: 1rem;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--shape);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  /* color of the scroll thumb */
  border: 0.1rem solid orange;
  /* creates padding around scroll thumb */
}